<%- include("../partials/header")%>

    <a href="/">Home</a>
    <h1>Skills</h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <form action="/skills/<%= s.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">delete</button>
          </form>
          <a href="/skills/<%= s.id %>"><%= s.skill %></a>
          
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add A New Skill</a>
    
<%- include("../partials/footer")%>