<%- include("../partials/header")%>

    <a href="/">Home</a>
    |
    <a href="/Skills">Back to List</a>

    <h1><%= skill.skill %></h1>
    
        <form action="/skills/<%= skill.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">delete</button>
          </form>
          <a href="/skills/<%= skill.id %>/edit">Edit Skill</a>

    <h3>Can I do this?<br>
         <%= skill.done ? 'Yeah, I can.' : "(I'm working on it)" %></h3>


<%- include("../partials/footer")%>